<div>
    <div id="footer-icons">
        <h3>
            <i class="fa-solid fa-sun fa-2xl fa-bounce" style="--fa-animation-iteration-count: 1;"></i>
            <div class="hide">Bring lots of water!</div>
        </h3> 
         <h3>
            <i class="fa-solid fa-leaf fa-2xl fa-bounce" style="--fa-animation-iteration-count: 1;"></i>
            <div class="hide">Bring sunscreen!</div>
         </h3>  
         <h3>
            <i class="fa-solid fa-temperature-high fa-2xl fa-bounce" style="--fa-animation-iteration-count: 1;"></i>
            <div class="hide">Check the weather!</div>
        </h3> 
    </div>
</div>
</body>
</html>
