
body{
    background-color:#A1AFA0;
    color: #054914;

}

body > nav{
    border: solid #054914;
    display: flex;
    justify-content: center;
}

nav > a {
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: #004A6F;
  }

#welcome-page{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.welcome-message{
    display: flex;
    justify-content: center;
}

.trail-index-title{
    display: flex;
    justify-content: center;
}

#trail-index-trails{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.profiles-show{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.picture-placeholder{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#profile-welcome-message{
    display: flex;
    flex-direction: column;
    grid-template-columns: auto auto;
}

#trail-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top{
    display: flex;
    justify-content: center;
    border: solid thin #FFFBCE;

    border-radius: 100px;
}

nav, footer{
    grid-column: span 3;
}
