
body{
    background: url(/assets/blue-pink-grad.jpg);
    background-size: cover;
    background-color:#A1AFA0;
    color: #054914;
    background-size: 1500px;
}

body > nav{
    border: solid #054914;
    background: url(/assets/green-leaves.jpg);

    border-radius: 50px;
    display: flex;
    justify-content: center;
    background-color: #054914;
    color: #FFFBCE;
}

nav > a {
    background-color: #FFFBCE;
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    color: #054914;
  }

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: #054914;
}

a:hover{
    color: #DDF2FF;
    background-color: #647899;
}

.fa-tree{
    color: #054914;
}

#fa-tree:hover{
    color:  #DDF2FF;
}

#logged-in-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

#welcome-page{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.welcome-message{
    display: flex;
    justify-content: center;
    font-family: 'Parisienne', cursive;
}

.trail-index-title{
    display: flex;
    justify-content: center;
}

#trail-index-trails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#tree-trails-index{
    background-color: none;
}

#tree-trails-index:hover{
    color: red;
    background-color: none;
}

#trails-index-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    border: thin solid #054914;
    border-radius: 30px;
    padding: 10px;
    background-color: #FFFBCE;
}

.profiles-show{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

#profile-welcome-message{
    font-family: 'Parisienne', cursive;
}

.picture-placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
    align-items: center;
}

#profile-welcome-message{
    display: flex;
    flex-direction: column;
    grid-template-columns: auto auto;
}

#trail-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card-body{
    display: flex;
    flex-direction: row;
}

#trail-show-name{
    margin-left: 20px;
}

.card-img-top{
    display: flex;
    justify-content: center;
    border: solid thin #FFFBCE;
    margin-left: 75px;
    border-radius: 100px;
}

#logged-in-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid thin #FFFBCE;
    border-radius: 100px;
    margin-left: 175px;
}

#add-hike-form{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

#add-hike-btn{
    margin-left: 190px;
}

#profile-hike-table-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#show-profiles-hikes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-avatar{
    size: 100px;
    border: solid #FFFBCE;
    border-radius: 100px;
    margin-top: 50px;
}

input{
    width: 100px;
    box-sizing: border-box;
    margin: 2px;
    border: solid thin #054914;
    border-radius: 30px;
    background-color: #FFFBCE;
    color: #054914;
}

select{
    width: 100px;
    box-sizing: border-box;
    margin: 2px;
    border: solid thin #054914;
    border-radius: 30px;
    background-color: #FFFBCE;
}

option{
    background-color: #FFFBCE;
}

button{
    box-sizing: border-box;
    background-color: #054914;
    color: #FFFBCE;
    max-width: 15ch;
}

#add-hike-btn{
    margin-top: 10px;
}

table{
    border-spacing: 0.5rem;
}

th{
    border: 1px solid #054914;
    padding: 0.5rem;  
}

td{
    border: 1px solid #FFFBCE;
    padding: 0.5rem;
}

#add-trail-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

#add-trail-title{
    display: flex;
    justify-content: center;
}

#new-trail-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid thin #FFFBCE;
    border-radius: 100px;
    margin-left: 360px;
    margin-top: 100px;
}

#bootstrap-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid thin #FFFBCE;
    border-radius: 100px;
    margin-left: 20px;
}

nav, footer{
    grid-column: span 3;
}
