
body{
    background-color:#A1AFA0;
    color: #054914;

}

body > nav{
    border: solid #054914;
    display: flex;
    justify-content: center;
}

nav > a {
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: #004A6F;
  }

#welcome-page{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.welcome-message{
    display: flex;
    justify-content: center;
}

.trail-index-title{
    display: flex;
    justify-content: center;
}

#trail-index-trails{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.profiles-show{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.picture-placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
    align-items: center;
}

#profile-welcome-message{
    display: flex;
    flex-direction: column;
    grid-template-columns: auto auto;
}

#trail-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top{
    display: flex;
    justify-content: center;
    border: solid thin #FFFBCE;

    border-radius: 100px;
}

#add-hike-form{
    display: flex;
    flex-direction: column;
}

#profile-hike-table-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#show-profiles-hikes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-avatar{
    size: 100px;
    border: solid #FFFBCE;
    border-radius: 100px;
    margin-top: 50px;
}

input{
    width: 100px;
    box-sizing: border-box;
    margin: 2px;
    border: solid #FFFBCE;
    border-radius: 30px;
    background-color: #647899;
}

select{
    width: 100px;
    box-sizing: border-box;
    margin: 2px;
    border: solid #FFFBCE;
    border-radius: 30px;
    background-color: #647899;
}

option{
    background-color: #FFFBCE;
}

button{
    box-sizing: border-box;
    background-color: #054914;
    color: #FFFBCE;
    max-width: 15ch;
}

#add-hike-btn{
    margin-top: 10px;
}

table{
    border-spacing: 0.5rem;
}

th{
    border: 1px solid #054914;
    padding: 0.5rem;  
}

td{
    border: 1px solid #FFFBCE;
    padding: 0.5rem;
}

#add-new-trail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add-trail-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-trail-title{
    display: flex;
    justify-content: center;
}

nav, footer{
    grid-column: span 3;
}
