<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (user) {%>
  <h1>Welcome to Hood Mountain, <%= user.profile.name %> !</h1>
  <h2>Explore a mountain with plenty of room for everyone!</h2>
  <% } else { %>
  <h1>Welcome to Hood Mountain!</h1>
  <h2>Log in to explore Sonoma</h2>
  <% } %>
</main>

<%- include('./partials/footer') %>
